
<div class="row">
	<div *ngFor='let product of (products | async)| filter:searchText' class="col-3">
		<div class="card" style="width: 100%;">
			<img src="{{product.img}}" class="card-img-top" alt="{{product.name}}">
			<div class="card-body">
				<h5 class="card-title text-center">{{product.name}}</h5>
				<p class="card-text text-center"><small>Price: {{product.price}} THB</small></p>
				<button (click)="onAddToCart(product.id,product.name)" class="btn btn-primary">Add to Cart</button>
			</div>
		</div>
	</div>
</div>